[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
jupyter = "*"
pytest = "*"
pytest-pylint = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
typing-extensions = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
pandas = "*"
praw = "*"
scikit-learn = "*"
beautifulsoup4 = "*"
spacy = "*"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}
newspaper3k = "*"
fastapi-utils = "*"
importlib-metadata = "*"
notebook = "*"
dataset = "*"
tweepy = "*"

[requires]
python_version = "3"
