[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
beautifulsoup4 = "*"
spacy = "*"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}
fastapi-utils = "*"
dataset = "*"
tweepy = "*"
urllib3 = "==1.25.4"

[requires]
python_version = "3"
